<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.uoc.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="PAC3App"
        android:theme="@style/AppTheme"
        android:supportsRtl="true"
        tools:targetApi="33">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".MapsActivity"
            android:theme="@style/MapsTheme" />
        <activity
            android:name=".MuseumsActivity"
            android:theme="@style/MuseumsTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
    </application>

</manifest>